<%- model_class = User -%>
<div class="big-panel">
	<div class="page-header">
		<% if user_signed_in? && current_user == @user %>
			<h1><%= t('app.views.users.edit.my_title') %></h1>
		<% else %>
	  	<h1><%= t('app.views.users.edit.title') %></h1>
		<% end %>
	</div>
	<%= render :partial => 'form' %>
</div>