<%- model_class = Picture -%>
<div class="big-panel">
	<div class="page-header">
	  <h1><%= t('app.views.pictures.edit.title') %></h1>
		<h3><%= associated_record_for(@picture.imageable) %></h3>
	</div>
	<%= render :partial => 'form', :locals => {:allows_image_change => false} %>
</div>