<%- model_class = Discount -%>
<div class="page-header">
  <h1><%= t('app.views.discounts.edit.title') %></h1>
	<h3><%= associated_record_for(@discount.discountable) %></h3>

</div>
<%= render :partial => 'form' %>
