<%- model_class = Discount -%>
<div class="big-panel">
	<div class="page-header">
	  <h1><%= t('app.views.discounts.new.title') %></h1>
		<h3><%= associated_discountable_for(@discount.discountable) %></h3>
	</div>
	<%= render :partial => 'form' %>
</div>
