body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;

  &:hover {
    color: #fff;
    background-color: #000; } }

#notice {
  color: green; }

.field_with_errors {
  color: #C2584D;
	width: 230px;
}

.error-block div {
	width: 10px !important;
	display: inline-block !important;
}

.error-block div.field_with_errors {
	color: #C2584D;
	width: 230px !important;
	display: inline-block !important;
}

.field_with_errors input, .field_with_errors input:hover, .field_with_errors textarea, .field_with_errors textarea:hover, .field_with_errors select, .field_with_errors select:hover {
	border: 1px solid #C2584D;
}